### **`Validaci√≥n Upload Data`**

In [1]:
import pandas as pd 
import config
import psycopg2
import warnings

warnings.filterwarnings('ignore')

In [2]:
conn = psycopg2.connect(
    dbname = config.DATABASE,
    user = config.USER, 
    password = config.PASS,
    host = "localhost",
    port = "5432"
)

#### ü•ù **`bureau.csv`**

In [3]:
df = pd.read_csv("/tmp/bureau_bkp.csv")

In [4]:
df.shape

(1716428, 17)

In [5]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM bureau) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'bureau' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

data

   num_filas  num_columnas
0    1716428            17

‚úÖ **Validado !!!**

#### üåΩ **`bureau_balance.csv`**

In [6]:
df = pd.read_csv('/tmp/bureau_balance_bkp.csv')

In [7]:
df.shape

(27299925, 3)

In [8]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM bureau_balance) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'bureau_balance' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

data

   num_filas  num_columnas
0   27299925             3

‚úÖ **Validado !!!**

#### ü•ò **`previous_application.csv`**

In [9]:
df = pd.read_csv('/tmp/previous_application_bkp.csv')

In [10]:
df.shape

(1670214, 37)

In [11]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM previous_application) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'previous_application' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

In [12]:
data

   num_filas  num_columnas
0    1670214            37

‚úÖ **Validado !!!**

#### üçø **`POS CASH balance schema`**

In [13]:
df = pd.read_csv('/tmp/pos_cash_balance_bkp.csv')

In [14]:
df.shape

(10001358, 8)

In [15]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM pos_cash_balance) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'pos_cash_balance' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

In [16]:
data

   num_filas  num_columnas
0   10001358             8

‚úÖ **Validado !!!**

#### üßÄ **`installments_payments schema`**

In [17]:
df = pd.read_csv("/tmp/installments_payments_bkp.csv")

In [18]:
df.shape

(13605401, 8)

In [19]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM installments_payments) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'installments_payments' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

In [20]:
data

   num_filas  num_columnas
0   13605401             8

‚úÖ **Validado !!!**

#### üçî **`credit_card_balance schema`**

In [21]:
df = pd.read_csv("/tmp/credit_card_balance_bkp.csv")

In [22]:
df.shape

(3840312, 23)

In [23]:
data = pd.read_sql_query("""
    SELECT 
        (SELECT COUNT(*) FROM credit_card_balance) AS num_filas,
        (SELECT COUNT(*) 
    FROM information_schema.columns 
    WHERE table_name = 'credit_card_balance' 
    AND table_schema = 'public') AS num_columnas;
""", conn)

In [24]:
data

   num_filas  num_columnas
0    3840312            23

‚úÖ **Validado !!!**

In [25]:
conn.close()