### **`Validaci√≥n Upload Data`**

In [1]:
import pandas as pd 
import config
import psycopg2
import warnings

warnings.filterwarnings('ignore')

In [2]:
conn = psycopg2.connect(
    dbname = config.DATABASE,
    user = config.USER, 
    password = config.PASS,
    host = "localhost",
    port = "5432"
)

#### ü•ò **`previous_application.csv`**

In [3]:
data = pd.read_sql_query("""
    SELECT *
    FROM previous_application
    LIMIT 10
""", conn)

data

,sk_id_prev,sk_id_curr,name_contract_type,amt_annuity,amt_application,amt_credit,amt_down_payment,amt_goods_price,weekday_appr_process_start,hour_appr_process_start,...,name_seller_industry,cnt_payment,name_yield_group,product_combination,days_first_drawing,days_first_due,days_last_due_1st_version,days_last_due,days_termination,nflag_insured_on_approval
0,2030495,271877,Consumer loans,1730.43,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,-37.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.62,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,365243.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.74,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,365243.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.34,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,-177.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.40,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,NaN,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
5,1383531,199383,Cash loans,23703.93,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,XNA,-137.0,low_normal,Cash X-Sell: low,365243.0,-654.0,-144.0,-144.0,-137.0,1.0
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

#### üçø **`POS CASH balance schema`**

In [4]:
data = pd.read_sql_query("""
    SELECT *
    FROM pos_cash_balance
    LIMIT 10
""", conn)

data

,sk_id_prev,sk_id_curr,months_balance,cnt_instalment,cnt_instalment_future,name_contract_status,sk_dpd,sk_dpd_def
0,1803195,182943,-31,48,45,Active,0,0
1,1715348,367990,-33,36,35,Active,0,0
2,1784872,397406,-32,12,9,Active,0,0
3,1903291,269225,-35,48,42,Active,0,0
4,2341044,334279,-35,36,35,Active,0,0
5,2207092,342166,-32,12,12,Active,0,0
6,1110516,204376,-38,48,43,Active,0,0
7,1387235,153211,-35,36,36,Active,0,0
8,1220500,112740,-31,12,12,Active,0,0
9,2371489,274851,-32,24,16,Active,0,0

#### üßÄ **`installments_payments schema`**

In [5]:
data = pd.read_sql_query("""
    SELECT *
    FROM installments_payments
    LIMIT 10
""", conn)

data

,sk_id_prev,sk_id_curr,num_instalment_version,num_instalment_number,days_instalment,days_entry_payment,amt_instalment,amt_payment
0,1054186,161674,1,6,-1180,-1187,6948.36,6948.36
1,1330831,151639,0,34,-2156,-2156,1716.53,1716.53
2,2085231,193053,2,1,-63,-63,25425.00,25425.00
3,2452527,199697,1,3,-2418,-2426,24350.13,24350.13
4,2714724,167756,1,2,-1383,-1366,2165.04,2160.59
5,1137312,164489,1,12,-1384,-1417,5970.38,5970.38
6,2234264,184693,4,11,-349,-352,29432.30,29432.30
7,1818599,111420,2,4,-968,-994,17862.17,17862.17
8,2723183,112102,0,14,-197,-197,70.74,70.74
9,1413990,109741,1,4,-570,-609,14308.47,14308.47

#### üçî **`credit_card_balance schema`**

In [6]:
data = pd.read_sql_query("""
    SELECT *
    FROM credit_card_balance
    LIMIT 10
""", conn)

data

,sk_id_prev,sk_id_curr,months_balance,amt_balance,amt_credit_limit_actual,amt_drawings_atm_current,amt_drawings_current,amt_drawings_other_current,amt_drawings_pos_current,amt_inst_min_regularity,...,amt_recivable,amt_total_receivable,cnt_drawings_atm_current,cnt_drawings_current,cnt_drawings_other_current,cnt_drawings_pos_current,cnt_instalment_mature_cum,name_contract_status,sk_dpd,sk_dpd_def
0,2562384,378907,-6,56.97,135000.0,0.0,877.50,0.0,877.50,1700.33,...,0.00,0.00,0,1,0,1,35,Active,0,0
1,2582071,363914,-1,63975.56,45000.0,2250.0,2250.00,0.0,0.00,2250.00,...,64875.56,64875.56,1,1,0,0,69,Active,0,0
2,1740877,371185,-7,31815.23,450000.0,0.0,0.00,0.0,0.00,2250.00,...,31460.09,31460.09,0,0,0,0,30,Active,0,0
3,1389973,337855,-4,236572.11,225000.0,2250.0,2250.00,0.0,0.00,11795.76,...,233048.97,233048.97,1,1,0,0,10,Active,0,0
4,1891521,126868,-1,453919.46,450000.0,0.0,11547.00,0.0,11547.00,22924.89,...,453919.46,453919.46,0,1,0,1,101,Active,0,0
5,2646502,380010,-7,82903.82,270000.0,0.0,0.00,0.0,0.00,4449.11,...,82773.32,82773.32,0,0,0,0,2,Active,7,0
6,1079071,171320,-6,353451.65,585000.0,67500.0,67500.00,0.0,0.00,14684.18,...,351881.15,351881.15,1,1,0,0,6,Active,0,0
7,2095912,118650,-7,47962.13,45000.0,45000.0,45000.00,0.0,0.00,0.00,...,47962.13,47962.13,1,1,0,0,51,Active,0,0
8,2181852,367360,-4,291543.08,292500.0,90000.0,289339.43,0.0,199339.43,130.50,...,286831.58,286831.58,3,8,0,5,3,Active,0,0
9,1235299,203885,-5,201261.20,225000.0,76500.0,111026.70,0.0,34526.70,6338.34,...,197224.70,197224.70,3,9,0,6,38,Active,0,0